pipeline/Copy from REST connector into ADLS Gen2.json
{
	"name": "Copy from REST connector into ADLS Gen2",
	"properties": {
		"activities": [
			{
				"name": "CopyData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('GetBearerToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkDataset1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetBearerToken",
				"description": "Use this Web activity to get bearer token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/2c1a2940-1a7c-4259-bdb1-acb301e5958b/oauth2/v2.0/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=e2a61ea8-b430-4e11-ad1c-7ec878af45f6&scope=https://graph.microsoft.com/.default&client_secret=?OZ=?jknr:iokBCIVSpAWKnHB7Pm39O0"
				}
			}
		],
		"parameters": {
			"SinkContainer": {
				"type": "string",
				"defaultValue": "sharedpath"
			},
			"SinkDirectory": {
				"type": "string",
				"defaultValue": "source"
			}
		},
		"annotations": []
	}
}