pipeline/Data Copy.json
{
	"name": "Data Copy",
	"properties": {
		"activities": [
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Stored Procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"sqlWriterStoredProcedureName": "[dbo].[spOverwriteMarketing]",
						"sqlWriterTableType": "MarketingType",
						"storedProcedureTableTypeParameterName": "Marketing"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProfileID",
									"type": "String"
								},
								"sink": {
									"name": "ProfileID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "State",
									"type": "String"
								},
								"sink": {
									"name": "State",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "Category",
									"type": "String"
								},
								"sink": {
									"name": "Category",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored Procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spTopEmp]",
					"storedProcedureParameters": {
						"empid": {
							"value": {
								"value": "@variables('EmpID')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Name": {
							"value": {
								"value": "@variables('EmpName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLConn",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "  select name,Empid from [dbo].[Emp]\n  where sal=(select max(sal) from dbo.emp)",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "LookUp",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EmpName",
					"value": {
						"value": "@activity('Lookup1').output.firstrow.name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EmpID",
					"value": {
						"value": "@activity('Lookup1').output.firstrow.empid",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"EmpName": {
				"type": "String",
				"defaultValue": "Sanjib"
			},
			"EmpID": {
				"type": "String",
				"defaultValue": "100"
			}
		},
		"annotations": []
	}
}